* {
  margin: 0;
  padding: 0;
  border-style: border-box;
  /* color: #6b6570; */
}
body {
  background-color: #e9ecef;
}
.container {
  background-color: #e9ecef;
  font-family: "Poppins", sans-serif;
  color: #6b6570;
  padding-top: 1em;
  /* height: 100vh; */
  /* border: 1px solid red; */
}
.header {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #6b6570;
}

.wrapper {
  width: 80%;
  margin: 1em auto;
  border-radius: 5px;
  background-color: #f8f9fa;
  /* padding-bottom: 2em; */
  /* border: 1px solid red; */
  padding: 1em 0;
}
.containerContent {
  text-align: left;
  /* padding-left: 1em; */
  margin: 0 auto;
  width: 80%;
}
@media only screen and (min-width: 811px) {
  .container {
    display: flex;
  }
  .wrapper {
    /* border: 1px solid red; */
    margin: 0 auto;
    /* padding: 2em; */
    width: 40%;
    flex-wrap: wrap;
  }
}
.content {
  margin: 0;
}
.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}
.subtitle p {
  margin: 0;
}
.buttons {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 80%;
  margin: 0 auto;
  padding-top: 1em;
  /* margin-bottom: 2em; */
}
.buttons button {
  padding: 0.8em 1.6em;
  margin-bottom: 1em;
  background-color: #4a314d;
  color: #f8f9fa;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
