.create-class-container {
  width: 40%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 10px auto;
  font-family: "Poppins", sans-serif;
  color: #6b6570;
}

.subtext {
  float: right;
}

.radio-btn-label{
    margin-left: 10px;
}
